APP_NAME=S14Advisory
APP_ENV=production
APP_KEY=base64:ZI5pV7tq9gJNwwOyvEN8XLHE9jDGVKUOAPaaDUV33/k=
APP_DEBUG=false
APP_URL=http://www.s14advisory.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=s14advisory
DB_USERNAME=forge
DB_PASSWORD=rQsqiodoI4Pv3XEc4ugN

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAILGUN_DOMAIN=email.s14advisory.com
MAILGUN_SECRET=key-a7792281afeaf12a3a2b7f6b836e582c
MAIL_USERNAME=postmaster@email.s14advisory.com
MAIL_PASSWORD=2c22389c7a765efbab5d3a13e68edc4e-3fb021d1-d1cca212
MAILGUN_URL=https://api.mailgun.net/v3/email.s14advisory.com
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
