*,html{
    padding: 0;
    margin:0;
}
.client-section,.our-deals{
    background-color: #fff;
    padding: 40px 0px;
    .heading{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 600;
    }
    #our-clients{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .owl-carousel
        {
            &.owl-loaded{
                text-align: center;
            }
            .owl-prev,.owl-next{
                // display: none !important;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                
                span{
                    font-size: 24px;
                }
            }
            .owl-prev{
                background-color: #DDB32A !important;
                margin-left: -60px;
            }
            .owl-next{
                background-color: #53ac1f !important;
                margin-right: -60px;
            }
            .owl-dots{
                .owl-dot{
                    width: 15px;
                    height: 15px;
                    background-color: #ddb !important;
                    margin: 0px 10px;
                    border-radius: 50%;
                    &:hover{
                        background-color: #53ac1f !important;
                    }
                    &.active{
                        background-color: #ddb32a !important;
                    }
                }
            }
            .owl-item{
                // margin:0 20px;
                // width: auto !important;
                padding: 15px;
                .item{
                    // width: 64px;
                    // height: 64px;
                    width:100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                a{
                    display: inline-block;
                }
                &:hover{
                    margin-right: 10px;
                    background-color: #cccccc5c;
                    padding: 15px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                }
            }
        }
    }
}

.our-deals{
    .filter-btn-grps{
        @media(max-width: 575px){
            display: block;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        .filter-btn{
            padding: 4px 10px;
            border: 2px solid #e5e5e5;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
            margin:0px 10px;
            transition: all 0.5s;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            &:hover{
                cursor: pointer;
                border-bottom: 2px solid #52AB22;
                color: #52AB22;
            }
            &.active{
                border-bottom: 2px solid #DDB32A;
                color: #DDB32A;
            }
        }
    }
    .filter-container{
        padding: 0px 10% !important;
        @media(max-width:575px){
            padding: 0px !important;
        }
        @media(max-width:768px) and (min-width:576px){
            padding: 0px 7% !important;
        }
        @media(max-width:992px) and (min-width:769px){
            padding: 0px 8% !important;
        }
        .preview-link{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
        }
        .outer-round{
            width: 40px;
            height: 40px;
            background-color: #DDB32A;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            i{
                color: #52AB22;
            }
            &:hover{
                background-color:#52AB22;
                i{
                    color: #DDB32A;
                }
            }
        }
        // $n: 30;
        $j: 20;
        // @for $i from 1 through $n{
            .filtr-item{
                box-shadow: 0 0 40px rgba(0,0,0,0.12);
                // &:nth-child(#{$i}) {
                //     top : ($i *20px)-($j * $i);
                //     left: ($i *20px)-$j;
                    // transform: translate(400px,$i*290px) !important;
                    // -webkit-transform: translate(400px,$i*290px) !important;
                    // -moz-transform: translate(400px,$i*290px) !important;
                    // -ms-transform: translate(400px,$i*290px) !important;
                    // -o-transform: translate(400px,$i*290px) !important;
// }
                // &:nth-child(3n+1){
                    //top:30px;
                    //left:30px;
                    //width: calc(100% - 100px);
                    // transform: translate(0,calc()) !important;
                    // -webkit-transform: translate(0,calc()) !important;
                    // -moz-transform: translate(0,calc()) !important;
                    // -ms-transform: translate(0,calc()) !important;
                    // -o-transform: translate(0,calc()) !important;
// }

//                 &:nth-child(3n+2){
//                     transform: translate(400px,290px) !important;
//                     -webkit-transform: translate(400px,290px) !important;
//                     -moz-transform: translate(400px,290px) !important;
//                     -ms-transform: translate(400px,290px) !important;
//                     -o-transform: translate(400px,290px) !important;
// }

//                 &:nth-child(3n+3){
//                     transform: translateX(800px) !important;
//                     -webkit-transform: translateX(800px) !important;
//                     -moz-transform: translateX(800px) !important;
//                     -ms-transform: translateX(800px) !important;
//                     -o-transform: translateX(800px) !important;
//                 }   
//                     &:nth-child(1){
//                         transform: translate(0,0) !important;
//                         -webkit-transform: translate(0,0) !important;
//                         -moz-transform: translate(0,0) !important;
//                         -ms-transform: translate(0,0) !important;
//                         -o-transform: translate(0,0) !important;
//                     }
//                     &:nth-child(2){
//                         transform: translate(400px,0) !important;
//                         -webkit-transform: translate(400px,0) !important;
//                         -moz-transform: translate(400px,0) !important;
//                         -ms-transform: translate(400px,0) !important;
//                         -o-transform: translate(400px,0) !important;
// }
//                     &:nth-child(3){
//                         transform: translate(800px,0) !important;
//                         -webkit-transform: translate(800px,0) !important;
//                         -moz-transform: translate(800px,0) !important;
//                         -ms-transform: translate(800px,0) !important;
//                         -o-transform: translate(800px,0) !important;
// }
//                     &:nth-child(4){
//                         transform: translate(0,300px) !important;
//                         -webkit-transform: translate(0,300px) !important;
//                         -moz-transform: translate(0,300px) !important;
//                         -ms-transform: translate(0,300px) !important;
//                         -o-transform: translate(0,300px) !important;
// }
//                     &:nth-child(5){
//                         transform: translate(400px,300px) !important;
//                         -webkit-transform: translate(400px,300px) !important;
//                         -moz-transform: translate(400px,300px) !important;
//                         -ms-transform: translate(400px,300px) !important;
//                         -o-transform: translate(400px,300px) !important;
// }
//                     &:nth-child(6){
//                         transform: translate(800px,300px) !important;
//                         -webkit-transform: translate(800px,300px) !important;
//                         -moz-transform: translate(800px,300px) !important;
//                         -ms-transform: translate(800px,300px) !important;
//                         -o-transform: translate(800px,300px) !important;
// }

                &:hover{
                    background-color: #29231B;
                    .preview-link{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    // }
}

.track-records-bg{
    background-image: url('img/sample-bg.jpg');
    height: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0000004f;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .watery-heading,.main-heading{
        width: 100%;
        text-align: center;
        position: relative;
        h1,h2{
            color:#ffffff70;
            font-size: 140px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .main-heading{
        position: absolute;
        bottom: 90px;
        h2{
            font-size: 100px;
            color: #fff;
        }
    }
}

#services{
    .tab-menu{
        &.center-holder{
            @media(max-width: 576px){
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.dropcap-3{
    &.yellow{
        p{
            &:first-letter{
                background-color: #DDB32A;
            }
        }
    }
}

#career-top-section{
    // height: 90%;
    height: 60%;
    .career-bg{
        // background: linear-gradient(83deg, rgba(2,0,36,1) 0%, rgba(221,179,41,1) 0%, rgba(174,176,39,1) 50%, rgba(82,171,34,1) 100%); 
        background: linear-gradient(83deg, rgba(2,0,36,1) 0%, rgba(221,179,41,1) 0%, rgba(238,238,238,1) 0%, rgba(170,170,170,1) 100%);
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        h3{
            // color: #ffffff;
            color: #000;
        }
        .text-content{
            p{
                // color: #fff;
                color: #000;
            }
        }
        .career-img{
            position: absolute;
            right:0px;
            // bottom: -50px;
            top:10px;
            z-index: 1;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
            @media(max-width: 575px){
                bottom: -75px;
            }
        }
    }
}

//career page navbar
.navigation-fixed-wrapper{
    &.scrolling{
        background-color: #fff;
    }
    &.without-scroll{
        background-color: transparent;
        position: absolute;
        border-bottom: none;
        @media(min-width: 993px){
            top:48px !important;
        }
        .navigation{
            background-color: transparent;
        }
    }
}

.positions{
    // padding: 50px 0px;
    .join-our-team{
        font-weight: 700;
        text-align: center;
    }
    .opening-heading{
        text-transform: uppercase;
        text-align: center;
    }
    .openings{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .opening-name{
            color:#000;
            font-weight: 600;
        }
        &:hover{
            background-color: #EFEFEF;
            padding: 10px;
            border-radius: 6px;
        }
    }
}

.position-overview{
    .position-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .overview-heading{
        text-transform: uppercase;
        font-weight: 600;
    }
    ul{
        li{
            color:#999;
            margin:5px 0px;
        }
    }
}